<app-navbar-adm></app-navbar-adm>
<ion-content id="main-content">
  <ion-list>
    @for(usuario of usuarios; track usuarios){
      <ion-item>
        <ion-label (click)="visualizarPerfil(usuario)">{{ usuario.nome }}</ion-label>
        @if(usuario.email != usuarioAtual.email){
          @if(usuario.status == 'Desbloqueado'){
            <ion-label>Desbloqueado</ion-label>
         
          }
          @else {
            <ion-label>Bloqueado</ion-label>

          }
        }
        @else {
          <ion-label>Este é você</ion-label>
        }
      </ion-item>
    }
  </ion-list>
</ion-content>
