<!-- <app-navbar-adm></app-navbar-adm>
<ion-content id="main-content">
  <ion-title class="text-center">Usuários</ion-title>
  <ion-card-subtitle class="text-center">Clique no Usuário Para Mais Opções.</ion-card-subtitle>
  <ion-list>
    @for(usuario of usuarios; track usuarios){
      <ion-item>
        <ion-label (click)="visualizarPerfil(usuario)" class="classePerfil" >{{ usuario.nome }}</ion-label>
        @if(usuario.email != usuarioAtual.email){
          @if(usuario.status == 'Desbloqueado'){
            <ion-label>Desbloqueado</ion-label>
         
          }
          @else {
            <ion-label>Bloqueado</ion-label>

          }
        }
        @else {
          <ion-label>Este é você</ion-label>
        }
      </ion-item>
    }
  </ion-list>
</ion-content> -->


<app-navbar-adm></app-navbar-adm>

<ion-content color="light" id="main-content">
  <ion-list [inset]="true">
    @for(usuario of usuarios; track usuarios){

    
    <ion-item-sliding >
      <ion-item [button]="true">
                <ion-label (click)="visualizarPerfil(usuario)" class="classePerfil" >{{ usuario.nome }}</ion-label>

        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>{{usuario.nome}}</ion-label>
        @if(usuario.email !== usuarioAtual.email){
          <ion-label> {{usuario.status === 'Desbloqueado' ? 'Desbloqueado' : 'Bloqueado'}}</ion-label>
        }
        @if(usuario.email == usuarioAtual.email){
          <ion-label>Este é você</ion-label>
        }
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="trash" (click)="deletarUsuario(usuario)">Deletar</ion-icon>
        </ion-item-option>
        @if(usuario.email != usuarioAtual.email){
          @if(usuario.status == 'Desbloqueado'){
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="lock-open"  (click)="bloquearUsuario(usuario)">Bloquear</ion-icon>
        </ion-item-option>
          }
          @else {
        <ion-item-option color="success">
          <ion-icon slot="icon-only" name="lock-closed" (click)="desbloquearUsuario(usuario)">Desbloquear</ion-icon>
        </ion-item-option>
          }
        }
        <ion-item-option color="danger" expandable="true">
          
          <ion-icon slot="icon-only" name="mail-outline" (click)="enviarMensagem(usuario)">Mensagem</ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  }
  </ion-list>
</ion-content>
