<app-navbar></app-navbar>

<ion-content class="ion-padding" id="main-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input [(ngModel)]="nome" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="email" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Cadastrado desde</ion-label>
        <ion-input [(ngModel)]="cadastradoDesde" id="cadastradoDesdeInput" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input [(ngModel)]="senha" disabled type="password" #senhaInput [counter]="true" maxlength="6" minlength="6"></ion-input>
      </ion-item>
      

      <ion-button expand="block" color="primary" (click)="editarPerfil()">Editar</ion-button>
      <ion-button expand="block" color="danger" >Sair</ion-button>
      <ion-button expand="block" color="warning" >Excluir</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


