<app-navbar></app-navbar>
<ion-content class="ion-padding" id="main-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <label class="py-2">Escolha sua foto de perfil</label>
      <form class="flex items-center space-x-6">
        <div class="shrink-0">
          @if(ultimaFotoURL()){
            <img class="h-24 w-24 object-cover rounded-full my-4" [src]="ultimaFotoURL()" alt="Foto de perfil Atual" />
          }
       
          @else{
            <ion-item>
              <ion-avatar aria-hidden="true" slot="start">
                <img alt="Imagem Padrão" src="https://ionicframework.com/docs/img/demos/avatar.svg">
              </ion-avatar>
            </ion-item>
          }
          
        </div>
        <label class="block">
          <input type="file" accept="images/*" (change)="changeInput($event)" class="block w-full text-sm text-slate-500
            file:mr-4 file:py-2 file:px-4
            file:rounded-full file:border-0
            file:text-sm file:font-semibold
            file:bg-black file:text-white
            hover:file:bg-violet-100
            py-4
          "/>
          
          <ion-progress-bar [value]="progresso" type="determinate"  id="progressBar"></ion-progress-bar>
        </label>
      </form>

      
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        @if({nome}){<ion-input [(ngModel)]="nome" disabled required minlength="4"></ion-input>}
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        @if({email}){<ion-input [(ngModel)]="email" disabled required type="email" minlength="15"></ion-input>}
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Cadastrado desde</ion-label>
        @if({cadastradoDesde}){<ion-input [(ngModel)]="cadastradoDesde" id="cadastradoDesdeInput" disabled></ion-input>}
      </ion-item>
      
      <ion-button expand="block" color="primary" (click)="editarPerfil()">
        {{ editando ? 'Cancelar' : 'Editar' }}
      </ion-button>
    
      @if(editando){
        <ion-button expand="block" color="success" (click)="salvarAlteracoes()">
          Pronto
        </ion-button>
      }
 
      
      <ion-button expand="block" color="danger" (click)="Sair()" href="/">Sair</ion-button>
      <ion-button expand="block" color="warning" (click)="deletarConta()" >Excluir</ion-button>
      <app-feedback></app-feedback>
    </ion-card-content>
  </ion-card>
</ion-content>


