<app-navbar></app-navbar>
<ion-content class="ion-padding" id="main-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>Foto
        <input type="file" accept="images/*" id="fotoInput" (change)="changeInput($event)">
        <ion-progress-bar [value]="progresso" type="determinate"  id="progressBar"></ion-progress-bar>
      </ion-item>

      @if(ultimaFotoURL()){
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="Imagem Padrão" [src]="ultimaFotoURL()">
          </ion-avatar>
        </ion-item>
      }
      @else{
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="Imagem Padrão" src="https://ionicframework.com/docs/img/demos/avatar.svg">
          </ion-avatar>
        </ion-item>
      }

      
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        @if({nome}){<ion-input [(ngModel)]="nome" disabled></ion-input>}
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        @if({email}){<ion-input [(ngModel)]="email" disabled></ion-input>}
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Cadastrado desde</ion-label>
        @if({cadastradoDesde}){<ion-input [(ngModel)]="cadastradoDesde" id="cadastradoDesdeInput" disabled></ion-input>}
      </ion-item>
      
      <ion-button expand="block" color="primary" (click)="editarPerfil()">
        {{ editando ? 'Pronto' : 'Editar' }}
      </ion-button>
      
      <ion-button expand="block" color="danger" (click)="Sair()" >Sair</ion-button>
      <ion-button expand="block" color="warning" (click)="deletarConta()" >Excluir</ion-button>
      <app-feedback></app-feedback>
    </ion-card-content>
  </ion-card>
</ion-content>


