<ion-button id="open-modal" expand="block">
  <ion-icon slot="start" name="add-circle-outline"></ion-icon>
  Termos de Uso
</ion-button>

<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="text-center">Termos de Uso</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content  class="ion-padding">
      <h2>Termos de Uso</h2>
      <ion-text>
        <p>
          Este termo de adequação à Lei Geral de Proteção de Dados Pessoais (LGPD) tem por objetivo estabelecer as diretrizes e responsabilidades para o tratamento de dados pessoais no âmbito do <strong>SkillHub</strong>
        </p>
        <p>
          A LGPD é a Lei nº 13.709/2018, que dispõe sobre o tratamento de dados pessoais, inclusive nos meios digitais, por pessoa natural ou por pessoa jurídica de direito público ou privado, com o objetivo de proteger os direitos fundamentais de liberdade e de privacidade e o livre desenvolvimento da personalidade da pessoa natural.
        </p>
        <p>
          O <strong>SkillHub</strong>, como controlador de dados pessoais, compromete-se a tratar os dados pessoais de seus usuários de forma lícita, leal e transparente, em conformidade com a LGPD e demais normas aplicáveis.
        </p>
        <p>
          O <strong>SkillHub</strong> coleta e trata dados pessoais de seus usuários para as seguintes finalidades:
        </p>
        <ul>
          <li>Identificação e autenticação do usuário;</li>
          <li>Contato com o usuário;</li>
          <li>Envio de comunicações;</li>
          <li>Realização de pesquisas e estudos;</li>
          <li>Desenvolvimento de produtos e serviços;</li>
          <li>Atendimento ao usuário;</li>
          <li>Garantia da segurança dos dados pessoais;</li>
          <li>Atendimento a obrigações legais e regulatórias;</li>
          <li>Defesa em processos judiciais e administrativos;</li>
          <li>Exercício regular de direitos em processo judicial, administrativo ou arbitral;</li>
          <li>Proteção do crédito;</li>
          <li>Prevenção à fraude;</li>
          <li>Realização de cobrança;</li>
          <li>Realização de análises de crédito;</li>
          <li>Realização de análises de risco;</li>
          <li>Realização de análises de mercado;</li>
      
        </ul>
        <p>
          O <strong>SkillHub</strong> compromete-se a adotar medidas técnicas e organizacionais adequadas para proteger os dados pessoais de seus usuários, incluindo a implementação de medidas de segurança da informação, a fim de garantir a confidencialidade, integridade e disponibilidade dos dados pessoais.
        </p>
        <p>
          O <strong>SkillHub</strong> compromete-se a informar aos usuários sobre o tratamento de seus dados pessoais, de forma clara e transparente, inclusive sobre a finalidade do tratamento, a forma e a duração do tratamento, os direitos dos titulares dos dados e as informações de contato do controlador.
        </p>
      </ion-text>
      <ion-buttons>
        <ion-button expand="full" color="primary" (click)="aceitarTermos()">Aceitar</ion-button>
        <ion-button expand="full" color="medium" (click)="recusarTermos()">Recusar</ion-button>
      </ion-buttons>
    </ion-content>
  </ng-template>
</ion-modal>
