
    <ion-content>
      <ion-button (click)="fecharModal()">fechar Modal</ion-button>
      <ion-label>Nome: {{ usuario.nome }}</ion-label>
      <ion-label >
        <ion-list>
            <ion-item>
              @if(usuario.email != usuarioAtual.email){
                @if(usuario.status == 'Desbloqueado'){
                  <ion-label>Desbloqueado</ion-label>
                  <ion-button (click)="bloquearUsuario()" size="small">Bloquear</ion-button>
                  <ion-button (click)="deletarUsuario()" size="small">Excluir</ion-button>
                  <ion-button (click)="enviarMensagem()" size="small">Enviar Mensagem</ion-button>
                }
                @else {
                  <ion-label>Bloqueado</ion-label>
                  <ion-button (click)="desbloquearUsuario()" size="small">Desbloquear</ion-button>
                  <ion-button (click)="deletarUsuario()" size="small">Excluir</ion-button>
                  <ion-button (click)="enviarMensagem()" size="small">Enviar Mensagem</ion-button>
                }
              }
              @else {
                <ion-label>Este é você</ion-label>
              }
            </ion-item>
          
        </ion-list>
      </ion-label>
    </ion-content>
  



