<app-navbar/>
  <ion-card-header>
    <ion-card-title class="text-center">
      <div>
          Bem-vindos 
          <span class="d-block">ao</span> 
          <span class="d-block">SkillHub</span>
      </div>
  </ion-card-title>
  </ion-card-header>
<ion-content id="main-content">
  <ion-card >
  <ion-grid >
    <ion-row>
      <ion-col size="6" style="cursor: pointer;">
        <ion-card color="warning" (click)="selecionarCategoria('música')">
          <ion-img src="../../../assets/imgs/musica.png" ></ion-img>
            
        </ion-card>
      </ion-col>
      <ion-col size="6" style="cursor: pointer;">
        <ion-card color="medium" (click)="selecionarCategoria('história')">
          <ion-img src="../../../assets/imgs/historia.png"></ion-img>
        
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" style="cursor: pointer;">
        <ion-card color="danger" (click)="selecionarCategoria('programação')">
          <ion-img src="../../../assets/imgs/programacao.png"></ion-img>
         
        </ion-card>
      </ion-col>
      <ion-col size="6" style="cursor: pointer;">
        <ion-card color="primary" (click)="selecionarCategoria('geografia')">
          <ion-img src="../../../assets/imgs/geografia.png"></ion-img>
          
        </ion-card>
      </ion-col>
    </ion-row>  
  </ion-grid>
</ion-card>

</ion-content>
