ion-menu-button {
  color: black;
}
ion-toolbar {
  --background: white;
  color: black;
 
 }
ion-title {
  color: black;
}
ion-content {
  --background: white;
}
.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}
