<app-navbar></app-navbar>

<ion-content id="main-content">
  
  <ion-img src="../../../assets/imgs/skillhub.png" alt="skillhub" ></ion-img>
  
  <ion-text color="black" >
    <h1 class="ion-margin-horizontal">Bem-vindo ao SkillHub!</h1>
  </ion-text>
  <ion-text color="black" >
    <p class="ion-margin-horizontal">Está preparado para testar seus conhecimentos em uma ampla variedade de áreas? Nosso quiz abrange desde música e programação até história, geografia e muito mais! Aqui, você terá a oportunidade de desafiar sua mente e aprender coisas novas ao mesmo tempo. Com perguntas cuidadosamente elaboradas por especialistas em cada campo, garantimos uma experiência divertida e educativa para todos os participantes.</p>
  </ion-text>

    <ion-card-content>
      <ion-img src="../../../assets/imgs/tela_principal.png" class="celular"></ion-img>
    </ion-card-content>
  
</ion-content>
