<ion-content class="ion-padding w-100 ion-margin-horizontal"
  ><ion-button href="/pagina-pre-quiz"><ion-icon name="close" (click)="voltar()"></ion-icon></ion-button>

  <div class="progress w-50 mx-auto d-flex">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="porcentagem"><span class="text-black">{{valorAtual}}/{{qntPerguntas}}</span></div>
</div>
  <ion-content>
    <ion-card style="display: flex; flex-direction: column;">
      <div id="circulo"  style="--value: {{cronometro}}">{{regredir}}</div> 
      <app-perguntas ></app-perguntas>
    </ion-card>
  </ion-content>
</ion-content>

