<ion-content class="ion-padding w-100 ion-margin-horizontal "
  ><span><ion-icon name="close-outline"></ion-icon></span>
  <div  
    class="progress w-50 mx-auto d-flex"
    role="progressbar"
    aria-label="Basic example"
    aria-valuenow="75"
    aria-valuemin="0"
    aria-valuemax="100"
    >
    <div class="progress-bar w-75"><span class="text-black">7/10</span></div> <!-- 75% carregado-->
  </div>
  <ion-content >
    <ion-card style="display: flex; flex-direction: column;">
      <div id="circulo"  style="--value:60"></div> <!--Alterar com js progresso-->
      <app-perguntas></app-perguntas>
    </ion-card>
  </ion-content>
</ion-content>

