<app-navbar></app-navbar>

<ion-content class="ion-padding" id="main-content">
  <ion-card
    style="max-width: 300px; background-color: white; margin: auto"
    class="ion-padding"
  >
    <ion-card-header class="ion-text-center">
      <ion-card-title class="ion-text-center">Cadastro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input
        labelPlacement="stacked"
        label="Nome"
        placeholder="Nome"
        [(ngModel)]="nome"
      >
      </ion-input>

      <ion-input
        labelPlacement="stacked"
        label="Email"
        placeholder="email@dominio.com"
        [(ngModel)]="email"
        type="email"
        minlength="10"

        
      >
      </ion-input>

      <ion-input
        labelPlacement="stacked"
        label="Senha"
        placeholder="Senha"
        type="password"
        #senhaInput
        [counter]="true"
        maxlength="6"
        minlength="6"
        [(ngModel)]="senha"
      >
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-button
          fill="clear"
          slot="end"
          aria-label="Mostrar/Esconder"
          (click)="mudarVisibilidade(senhaInput)"
        >
          <ion-icon name="{{valor}}" slot="end"></ion-icon>
        </ion-button>
      </ion-input>

      <ion-input
        labelPlacement="stacked"
        Label="Confirmar"
        placeholder="Confirmar Senha"
        type="password"
        #confirmar
        [counter]="true"
        maxlength="6"
        minlength="6"
        [(ngModel)]="confirmarSenha"
      >
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-button
          fill="clear"
          slot="end"
          aria-label="Mostrar/Esconder"
          (click)="mudarVisibilidade(confirmar)"
        >
          <ion-icon name="{{valor}}" slot="end"></ion-icon>
        </ion-button>
      </ion-input>
      @if(this.nome === '' || this.email === '' || this.senha === '' || this.confirmarSenha === ''){
        <ion-button expand="block" color="danger" disabled>Cadastro</ion-button>
      }@else {
        <ion-button expand="block" color="primary" (click)="cadastrar()">Cadastro</ion-button>
      }
  
      <app-modal-acordo/>
      
      {{ mensagem }}
      
    </ion-card-content>
  </ion-card>
</ion-content>
