<ion-card>
    <ion-card-header>
    <ion-card-title>
      <h1 class="ion-text-center">{{perguntaAtual}}</h1>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content id="main-content">
    <ion-list>
      <ion-item>
        <ion-checkbox (ionChange)="apenasUm()" (ionChange)="verificarResposta(respostas0)">
          
          <ion-label class="ion-text-wrap">A - {{respostas0}} </ion-label>
        </ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox (ionChange)="apenasUm()" (ionChange)="verificarResposta(respostas1)">
          <ion-label class="ion-text-wrap">B - {{respostas1}} </ion-label>
        </ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox (ionChange)="apenasUm()" (ionChange)="verificarResposta(respostas2)">
          <ion-label class="ion-text-wrap">C - {{respostas2}}</ion-label>
        </ion-checkbox>
      </ion-item>
    </ion-list>
    
    
    <ion-button expand="block" (click)="proximaPergunta()">Próximo</ion-button>
  </ion-card-content>
</ion-card>


