  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h1 class="ion-text-center text-white"></h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="ion-col">
          <ion-radio-group >
            <ion-radio value="a">a São Paulo</ion-radio>
            <ion-radio value="b">b Rio de Janeiro</ion-radio>
            <ion-radio value="c">c Brasília</ion-radio>
            <ion-input [(ngModel)]="pergunta" type="text"></ion-input>
            <ion-input [(ngModel)]="resposta1" type="text"></ion-input>
            <ion-input [(ngModel)]="resposta2" type="text"></ion-input>
            <ion-input [(ngModel)]="resposta3" type="text"></ion-input>
            
            <ion-button (click)="adicionarPergunta()">adicionar Pergunta</ion-button>
          </ion-radio-group>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
    <ion-button expand="block" >Finalizar</ion-button>
  </ion-card-content>
</ion-card>
