<ion-button id="open-modal" expand="block">
  <ion-icon slot="start" name="add-circle-outline"></ion-icon>
  Adicionar TIme
</ion-button>

<ion-modal trigger="open-modal">
  <ng-template>
    <ion-content>
      <h2 class="text-center">Cadastrar Time</h2>
      <form>
        <ion-item>
          <ion-label position="floating">Nome:</ion-label>
          <ion-input
            type="text"
            id="nome"
            name="nome"
            [(ngModel)]="nome"
            maxlength="12"
            minlength="3"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descrição:</ion-label>
          <ion-input
            id="descricao"
            name="descricao"
            [(ngModel)]="descricao"
            maxlength="15"
            minlength="3"
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Escudo:</ion-label>
          <ion-grid>
            <ion-row>
              @for( logo of logosDisponiveis; track logo.url){
                <ion-col size="4" class="pt-4">
                  <ion-img
                    [src]="logo.url"
                    [class.selected]="logoSelecionado === logo.url"
                    (click)="selecionarLogo(logo.url)"
                  ></ion-img>
                </ion-col>
              }
            </ion-row>
              
              
          </ion-grid>
        </ion-item>
        <ion-button expand="full" color="primary" (click)="adicionarTime()">Cadastrar</ion-button>
        <ion-button expand="full" color="medium" (click)="fecharModal()">Cancelar</ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
